*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  scroll-behavior: smooth;

  @include respond(tab-land) {
    // width < 1200?
    font-size: 60%;
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 59%;
  }

  @include respond(big-desktop) {
    // font-size: 65%;
  }
}
a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
}

ul {
  list-style: none;
}

body {
  box-sizing: border-box;
  position: relative;
  font-size: 1.6rem;
}
.wrapper {
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
  z-index: 1; //wrapperを1で設定
}

section {
  background-color: $color-section-bg;
  position: relative;
  // content-visibility: auto;
  // contain-intrinsic-size: 500px;
}

// ::selection {
//     background-color: $color-primary;
//     color: $color-white;
// }


// additionl
html,
body,
ul,
li {
  margin: 0;
  padding: 0;
}


body {
  color: $color-white;
  box-sizing: border-box;
  color: black;
  min-height: 100%;
  background-image: url("../images/2.jpg");
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
}

a {
  color: $color-primary;
  text-decoration: none;
  &:hover {
    color: $color-primary-light;
  }
}
ul,li {
  list-style: none;
}

.wrapper {
  display: flex;
}

.main {
  margin: 20px auto;
  min-height: 70vh;
}

.content {
  color: blue;
  font-weight: bold;

  & > a {
    text-decoration: none;
    color: $color-white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1.5rem 1rem;
    border-radius: 40px;
  }
}

.container {
  width: 1020px;
  margin: 0 auto;
  overflow: auto;
}
