.u-flex {
  display: flex;
  flex-direction: column;
  @include respond(tab-land) {
    flex-direction: row;
  }

}
.u-block {
  background: rgba($color-grey-light-1, 0.5);
  padding: 2rem;
  border-radius: 2rem;
  &:first-child {
    margin-bottom: 3rem;
  }
}

.my-6 {
  margin: 6rem 0;
}