<<<<<<< HEAD
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "components/input";
@import "components/sns";
@import "components/swiper";

@import "layout/sidebar";
@import "layout/header";
@import "layout/footer";

@import "pages/post";


=======
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  color: rgb(250, 206, 124);
  background-color: #b77cbd;
}
.title {
  color: rosybrown;
  font-size: 50px;
  filter: blur(1px);
  position: sticky;
  transition: all .3s;
  transform: translate(20px);

  &.active {
    color: palegoldenrod;
  }
}
>>>>>>> repo/master
