.page {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include respond(tab-port) {
      flex-direction: row;
    }
    // php出力の子ページリンクのliタグ
    & .page_item {
      padding: 1rem;
      @include respond(tab-port) {
        margin-left: 1rem;
      }
      &.current_page_item {
        font-weight: bold;
      }
    }
  }

  &__nav {
    @include respond(tab-port) {
      order: 2;
    }
    &-list {
      display: flex;
      justify-content: flex-end;

      @include respond(tab-port) {
        justify-content: space-between;
      }
    }
    &-parent-item {
      padding: 1rem 2rem;
      border-right: 2px solid $color-primary;
      @include respond(tab-port) {
      }
    }
    &-parent-link {
      color: $color-black;
      font-weight: bold;
    }
  }
}
