.post {
  margin-bottom: 6rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid rgba($color-primary, 0.8);
  &__title {
    margin-bottom: 2rem;
  }
  &__meta {
    margin-bottom: 2rem;
    background: rgba($color-primary, 0.8);
    color: $color-white;
    border-radius: 2rem;
    padding: 1rem 2rem;
  }
  &__p {
    margin-bottom: 1rem;
  }
}
