.sidebar {
  flex-basis: 330px;
  min-height: 70vh;
  background: rgba($color-primary, 0.2);
  padding: 2rem;
}
.widget {
  &_recent_entries {
    & ul li {
      display: flex;
      flex-direction: column;
      margin: 1rem;
    }
  }
  &_categories {
    & .widgettitle {
      color: color-primary !important;
    }
  }
}
